
<div  ng-model="model[options.key]"  id="q{{options.key}}" class="datumtime">
    <ionic-datepicker input-obj="datepickerObject">
        <button class="button button-light" type="button">
            <i class="ion ion-android-calendar"></i>
            <span ng-show="datepickerObject.inputDate"> {{datepickerObject.inputDate| date:'MM/dd/yyyy'}} </span>
            <span ng-hide="datepickerObject.inputDate">
                Select a Date
            </span>
        </button>
    </ionic-datepicker>
    
    <ionic-timepicker   input-obj="timePickerObject" >
      <button class="button button-light" type="button">
        <i class="ion ion-clock"></i>
        <standard-time-meridian  ng-show="timePickerObject.inputEpochTime" etime='timePickerObject.inputEpochTime'></standard-time-meridian>
        <span ng-hide="timePickerObject.inputEpochTime">
                Select a Time
            </span>
      </button>
    </ionic-timepicker>
</div>
